:root {
  --heading-font-family: "Oswald", sans-serif;
  --default-font-family: "Source Sans 3", sans-serif;
  --primary-color: #262626;
  --secondary-color: #dfdfdf;
  --background-color: #f0f0f0;
}

h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  margin-top: 30px;
  font-size: 55px !important;
}

p {
  font-family: var(--default-font-family);
  line-height: 1.4;
  padding: 30px 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

.hero {
  margin-top: 0;
}

.hero-image {
  max-width: 700px;
}

.hero h3 {
  font-weight: 200;
  line-height: 1.1;
  text-align: right;
}

.image-container {
  position: relative;
  display: inline-block;
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
}

.freepik {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.freepik a,
li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--default-font-family);
}

.skills-logos {
  margin: 30px 15px;
  padding: 25px;
}

.skills-logos i {
  padding: 20px;
  line-height: 30px;
  font-size: 40px;
}

.skills-logos .row {
  margin: 0;
}

.skills-logos .col-md-3,
.skills-logos .col-sm-6 {
  padding: 15px;
}
.skills-section p {
  padding: 0;
}

a.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-branding {
  background-color: white;
  color: var(--primary-color);
  border-radius: 5px;
  border: 0.5px solid var(--primary-color) !important;
  font-family: var(--default-font-family);
  padding: 8px 10px;
  transition: all 100ms ease-in-out;
}

.about-description h3 {
  font-weight: 200;
  line-height: 1.1;
}

.card {
  margin: auto;
}

.card a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  font-family: var(--default-font-family);
}

.contact-details h3 {
  font-weight: 200;
  line-height: 1.1;
  font-size: 30px;
  font-family: var(--default-font-family);
}

.contact-details a {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.5;
}

.my-projects img {
  filter: brightness(98%) contrast(114%) saturate(0%);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.my-projects img:hover {
  filter: none;
}

.my-projects p {
  padding-top: 0;
  padding-bottom: 0;
}

.navigation {
  margin-right: 25px;
}

ul {
  margin-top: 35px;
}
nav li {
  display: inline;
  list-style: none;
  padding: 0 10px;
  font-family: var(--default-font-family);
  font-size: 18px;
}

nav ul {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
}

nav a:hover,
nav li.active a {
  color: #b1b1b1;
}
.logo {
  max-height: 130px;
  box-shadow: none;
  margin-bottom: 0;
}

footer a {
  transition: all 100ms ease-in-out;
  color: var(--primary-color);
  text-decoration: none;
}
footer .email-link {
  font-size: 20px;
}

footer a:hover {
  color: #b1b1b1;
}

footer .fa-brands {
  color: var(--background-color);
  background-color: var(--primary-color);
  font-size: 30px;
  padding: 15px;
  margin: 15px;
  border-radius: 480%;
  transition: all 100ms ease-in-out;
}

footer .fa-brands:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px !important;
    text-align: center;
    padding-top: 15px;
  }

  .skills-section {
    display: none;
  }
  .contact-details,
  .about-description {
    text-align: center;
  }
  .contact-details h3 {
    font-size: 20px;
  }
  .my-projects {
    text-align: center;
  }
  .freepik a {
    font-size: 10px;
  }
}

@media (min-width: 900px) {
  .intro {
    margin-top: 100px !important;
  }
}
